<template>
  <v-breadcrumbs :items="items" :style="{ 'min-height': '55px' }">
    <template v-if="items?.length" #prepend>
      <v-icon icon="mdi-home" size="small"></v-icon>
    </template>
  </v-breadcrumbs>
</template>

<script lang="ts" setup>
import type { VBreadcrumbs } from "vuetify/components";

const route = useRoute();
const breadcrumbs = useBreadcrumbs();

const items: ComputedRef<VBreadcrumbs["$props"]["items"]> = computed(() => {
  return breadcrumbs.value.map((breadcrumb) => ({
    title: breadcrumb.text,
    disabled: breadcrumb.to === route.path,
    to: breadcrumb.to,
  }));
});
</script>
