<template>
  <ProducerForm
    :producer-created="producer"
    @submit="onProducerFormSubmit"
  ></ProducerForm>
</template>

<script lang="ts" setup>
import type { IProducer } from "~/interfaces/producer";
import type { IProducerForm } from "~/interfaces/producer-form";

const apiBase = useRuntimeConfig().public.apiBase;
const route = useRoute();

// Data fetching
const { data: producer } = await useFetch<IProducer | undefined>(
  "/producers/slug/" + route.params.slug,
  {
    baseURL: apiBase,
  }
);

const onProducerFormSubmit = async (producer: IProducerForm): Promise<void> => {
  await updateProducer(producer);
  console.log(route);
};

const updateProducer = async (producer: IProducerForm) => {
  await $fetch("/producers/" + producer._id, {
    baseURL: apiBase,
    method: "PUT",
    body: producer,
  });
};
</script>
