<template>
  <div v-if="producersStore.detail">
    <section class="mb-12">
      <v-row>
        <v-col cols="12" sm="6">
          <h2 class="text-subtitle-1 mb-1">Información básica</h2>

          <ProducerCard
            :producer-detail="producersStore.detail"
            @product-clicked="onProductClicked($event)"
          ></ProducerCard>
        </v-col>

        <v-col v-if="producersStore.detail?.locations[0]" cols="12" sm="6">
          <h2 class="text-subtitle-1 mb-1">Localización</h2>
          <v-card class="mb-12" variant="outlined" rounded="0">
            <ProducerMap
              :producer-coordinates="
                producersStore.detail.locations[0].geometry.coordinates
              "
            ></ProducerMap>
          </v-card>

          <v-btn
            block
            color="primary"
            prepend-icon="mdi-airballoon-outline"
            size="x-large"
            to="/productores"
            variant="tonal"
          >
            Descubre más productores
          </v-btn>
        </v-col>
      </v-row>
    </section>
    <section>
      <h2 class="text-subtitle-1 mb-1">Relaciones con otros productores</h2>
      <p
        v-if="
          !producersStore.detail?.relations ||
          !Object.keys(producersStore.detail?.relations).length
        "
        class="text-caption text-medium-emphasis"
      >
        No están notificadas relaciones con otros productores.
        <br />
        Puedes ayudar a partir de
        <v-btn size="x-small" to="/colabora" variant="tonal"
          >este formulario</v-btn
        >
      </p>
      <section v-else>
        <ProducerRelationList
          :relations="producersStore.detail?.relations"
        ></ProducerRelationList>
      </section>
    </section>
  </div>
</template>

<script lang="ts" setup>
// Imports
import producerJsondl from "@/jsonld/producer";
import type { IProduct } from "~/interfaces/product";

// Route
const route = useRoute();

// Fetch data
const producersStore = useProducersStore();
await useAsyncData(() => producersStore.fetchDetail());

// SEO meta
const title = producersStore?.detail?.name + " | Natural Producers";
const description = producersStore?.detail?.description;
const url = "https://naturalproducers.org" + route.path;

useSeoMeta({
  title,
  ogTitle: title,
  description,
  ogDescription: description,
  ogUrl: url,
});

useHead(() => ({
  link: [
    {
      rel: "canonical",
      href: url,
    },
  ],
}));

// JSONDL
useJsonld(() => {
  return producerJsondl(producersStore.detail);
});

// Breadcrumb
defineBreadcrumbs({
  slug: producersStore?.detail?.slug,
  producer: producersStore?.detail,
});

// Actions
const onProductClicked = (product: IProduct): void => {
  navigateTo({
    path: "/productores",
    query: { productCategories: product.slug.es_es },
  });
};
</script>
