<template>
  <v-navigation-drawer v-model="drawer" location="right" temporary width="600">
    <v-row justify="end">
      <v-col cols="auto">
        <v-btn elevation="0" icon="mdi-close" class="mt-2 mr-2" size="small" @click="drawer = false">
        </v-btn>
      </v-col>
    </v-row>
    <ProducerCard v-if="producerSelected" :producer-detail="producerSelected" :config="{ variant: 'flat' }">
    </ProducerCard>
  </v-navigation-drawer>

  <div class="position-relative">
    <LMap @ready="onMapReady" style="height: 100vh; width: 100vw" :zoom="6" :center="centerDefault"
      :use-global-leaflet="true">
      <LTileLayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        attribution='&amp;copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        layer-type="base" name="OpenStreetMap" />
      <LGeoJson :geojson="producersGeoMapped" :options="lGeoJsonOptions" />
    </LMap>
  </div>
</template>

<script lang="ts" setup>
import type { GeoJsonObject } from "geojson";
import type { Map, PointExpression } from "leaflet";
import L from "leaflet";
import type { IProducer } from "~/interfaces/producer";

defineProps<{ producersGeoMapped: GeoJsonObject[] }>();

const centerDefault = ref<PointExpression>([36.71656, -4.42545]);
const drawer = ref<boolean>(false);
const map = ref<Map>();
const producerSelected = ref<IProducer | null>(null);


const onEachFeatureFunction = (feature: any, layer: any) => {
  layer.bindTooltip(feature.producer.name, { direction: "bottom" });
  layer.on("click", onMarkClick);
};

const onMapReady = (mapInstance: Map) => {
  map.value = mapInstance;
};

const onMarkClick = function (mouseEvent: any) {
  map.value?.panTo(mouseEvent.target.getLatLng());
  producerSelected.value = mouseEvent.target.feature.producer;
  drawer.value = true;
};

const pointToLayerFunction = (feature: any, latlng: any) => {
  const needsCovered = feature.producer.needsCovered;
  let background;
  let icon;
  switch (true) {
    case needsCovered === null:
      background = "grey";
      icon = "help";
      break;
    case needsCovered.length > 1:
      background = "linear-gradient(301deg, #86c8bc 42%, #9FACE6 57%);";
      icon = "store";
      break;
    case needsCovered.length === 1:
      background = needsCovered[0].color;
      icon = needsCovered[0].icon;
      break;
    default:
      break;
  }

  return L.marker(latlng, {
    icon: L.divIcon({
      className: "map-marker",
      html: `
              <div class="map-marker__pin ${icon}">
                <span class="map-marker__pin-inner" style="background: ${background}"></span>
              </div>
              <i class="map-marker__icon v-icon notranslate mdi mdi-${icon} theme--dark"></i>
            `,
      iconAnchor: [22, 56],
      iconSize: [45, 45],
    }),
    riseOnHover: true,
  });
};

const lGeoJsonOptions = {
  onEachFeature: onEachFeatureFunction,
  pointToLayer: pointToLayerFunction,
};
</script>

<style scope>
.leaflet-control-container .leaflet-top.leaflet-left {
  top: 54px;
  left: 4px;
}
</style>