<template>
  <div class="d-flex flex-wrap ga-2">
    <div
      v-for="(activism, index) in props.activisms"
      :key="index"
      class="d-flex align-center"
    >
      <v-icon :class="`icon-${activism.icon}`" start></v-icon>
      {{ activism.name.es_es }}
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { IActivism } from "~/interfaces/activism";

const props = defineProps<{ activisms: IActivism[] }>();
</script>
