<template>
  <v-autocomplete
    v-model="model"
    :items="activismsStore.list"
    chips
    label="Activismos"
    item-title="name.es_es"
    item-value="_id"
    multiple
    prepend-icon="mdi-bullhorn-outline"
  >
    <template #chip="{ props: chipProps, item }">
      <v-chip label v-bind="chipProps">
        <template #prepend>
          <v-avatar>
            <v-icon :class="'icon-' + item.raw.icon"></v-icon>
          </v-avatar>
        </template>
        {{ item.raw.name.es_es }}
      </v-chip>
    </template>
    <template #item="{ props: itemProps, item }">
      <v-list-item v-bind="itemProps" :title="item.raw.name.es_es">
        <template #prepend>
          <v-icon :class="'icon-' + item.raw.icon"></v-icon>
        </template>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>

<script lang="ts" setup>
import type { IActivism } from "~/interfaces/activism";

const props = defineProps<{ initialSelection: IActivism[] | null }>();
const emit = defineEmits(["update-selection"]);

const activismsStore = useActivismsStore();
const model = ref<IActivism[] | null>(props.initialSelection);

watch(
  () => props.initialSelection,
  (newSelection) => {
    model.value = newSelection;
  }
);

watch(model, (newValue) => {
  emit("update-selection", newValue);
});
</script>
