<template>
  <NuxtLoadingIndicator />
  <NuxtLayout>
    <v-app>
      <NuxtPage />
    </v-app>
  </NuxtLayout>
</template>
<script lang="ts" setup>
useHead({
  htmlAttrs: { lang: "es" },
});

const activimsStore = useActivismsStore();
const certificationsStore = useCertificationsStore();
const needsStore = useNeedsStore();
const producerTypesStore = useProducerTypesStore();
const producerOrganizationalTypesStore = useProducerOrganizationalTypesStore();
const producerRelationTypesStore = useProducerRelationTypesStore();
const productsStore = useProductsStore();

await useAsyncData(() => activimsStore.fetchList());
await useAsyncData(() => certificationsStore.fetchList());
await useAsyncData(() => needsStore.fetchList());
await useAsyncData(() => producerOrganizationalTypesStore.fetchList());
await useAsyncData(() => producerRelationTypesStore.fetchList());
await useAsyncData(() => producerTypesStore.fetchList());
await useAsyncData(() => productsStore.fetchList());
</script>
