<template>
  <div>
    <v-row>
      <v-col cols="12">
        <h2>Encuentra productores cercanos a ti para todas tus necesidades.</h2>
      </v-col>
    </v-row>

    <v-row ref="producerFiltersRow">
      <v-col cols="12">
        <ProducerFilters></ProducerFilters>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-row justify="space-between">
          <v-col cols="auto">
            <h3 class="mb-2">
              Productores
              <span class="text-caption text-no-wrap"
                >Página {{ producersStore.list.page }} de
                {{ producersStore.list.totalPages }}</span
              >
            </h3>
          </v-col>
          <v-col cols="auto">
            <v-btn prepend-icon="mdi-map" size="small" variant="tonal" to="productores/mapa">
              Ver en un mapa
            </v-btn>
          </v-col>
        </v-row>

        <ClientOnly>
          <template #fallback>
            <v-row>
              <v-col
                v-for="(_item, i) of 4"
                :key="i"
                cols="12"
                sm="6"
                md="6"
                lg="4"
                xl="3"
              >
                <v-skeleton-loader
                  class="mb-6"
                  type="table-heading, list-item-two-line, image, table-tfoot"
                ></v-skeleton-loader>
              </v-col>
            </v-row>
          </template>
          <masonry
            :cols="{
              default: 4,
              [thresholds.xl - 1]: 3,
              [thresholds.lg - 1]: 2,
              [thresholds.md - 1]: 2,
              [thresholds.sm - 1]: 1,
            }"
            :gutter="{ default: '24px' }"
          >
            <template
              v-for="(producer, i) of producersStore.list.docs || 2"
              :key="i"
            >
              <v-skeleton-loader
                v-if="producersStore.isLoadingList"
                :key="i"
                class="mb-6"
                type="table-heading, list-item-two-line, image, table-tfoot"
              ></v-skeleton-loader>

              <ProducerCard
                v-else
                class="mb-6"
                :producer-detail="producer"
                @product-clicked="onProductClicked($event)"
              ></ProducerCard>
            </template>
          </masonry>

          <v-alert v-if="!producersStore.list.docs.length" variant="outlined">
            No hay resultados con los filtros seleccionados.
          </v-alert>

          <div class="text-center mb-6">
            <v-pagination
              v-if="producersStore.list.totalPages > 1"
              v-model="
                producersFiltersStore.queryParameters.pagination.pageIndex
              "
              :length="producersStore.list.totalPages"
              @update:model-value="onPageChange($event)"
            ></v-pagination>
          </div>
        </ClientOnly>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts" setup>
// Imports
import naturalProducersJsondl from "@/jsonld/natural-producers";
import { useDisplay } from "vuetify";
import type { IProduct } from "~/interfaces/product";
import { useGoTo } from "vuetify";

// Vuetify utilities
const goTo = useGoTo();
const { thresholds } = useDisplay();

// Stores
const activismStore = useActivismsStore();
const needStore = useNeedsStore();
const producersFiltersStore = useProducersFiltersStore();
const producersStore = useProducersStore();
const producerTypesStore = useProducerTypesStore();
const productsStore = useProductsStore();

// Stores refs
const { queryParameters } = storeToRefs(producersFiltersStore);

// Router
const route = useRoute();

// Lifecycle Hooks
onMounted(() => {
  updateFiltersFromQuery();
});

// Update filter according route queries
const updateFiltersFromQuery = () => {
  const { activisms, needs, producerTypes, productCategories } = route.query;

  const activismObjects = activisms
    ? activismStore.findMultipleBySlugsEs((activisms as string).split(","))
    : [];

  const needObjects = needs
    ? needStore.findMultipleBySlugsEs((needs as string).split(","))
    : [];

  const producerTypeObjects = producerTypes
    ? producerTypesStore.findMultipleBySlugsEs(
        (producerTypes as string).split(",")
      )
    : [];

  const productCategoriesObjects = productCategories
    ? productsStore.findMultipleBySlugsEs(
        (productCategories as string).split(",")
      )
    : [];

  producersFiltersStore.queryParameters.filters.activisms = activismObjects;
  producersFiltersStore.queryParameters.filters.needs = needObjects;
  producersFiltersStore.queryParameters.filters.producerTypes =
    producerTypeObjects;
  producersFiltersStore.queryParameters.filters.productCategories =
    productCategoriesObjects;
};

// Fetch data
producersFiltersStore.queryParameters.pagination.pageSize = 20;
await useAsyncData("producerList", () => producersStore.fetchList(), {
  watch: [producersFiltersStore.queryParameters],
});

// useWindowScroll
const { y } = useWindowScroll();

// SEO meta
const title = "Natural Producers | Listado de Productores";
const description =
  "Descubre productores que promueven la ecología y el consumo local. Filtra por productos, localización o activismos para un consumo consciente.";
const url = "https://naturalproducers.org";

useSeoMeta({
  title,
  ogTitle: title,
  description,
  ogDescription: description,
  ogUrl: url,
});

// JSONDL
useJsonld(() => naturalProducersJsondl);

// Actions
const onPageChange = (pageIndex: number): void => {
  y.value = 0;
  producersFiltersStore.queryParameters.pagination.pageIndex = pageIndex;
};

const onProductClicked = (product: IProduct): void => {
  queryParameters.value.filters.productCategories = [product];
  goTo("#producer-filters");
};
</script>
