<template>
  <ProducersMap :producersGeoMapped="producersStore.listGeoMapped"></ProducersMap>
</template>

<script lang="ts" setup>
const producersStore = useProducersStore();

await useAsyncData("producersGeoMapped", () => producersStore.fetchAllGeoMapped());
definePageMeta({
  layout: "full",
});
</script>
