<template>
  <div>
    <ProducerForm @submit="onProducerFormSubmit"></ProducerForm>
  </div>
</template>

<script lang="ts" setup>
import type { IProducerForm } from "~/interfaces/producer-form";

const apiBase = useRuntimeConfig().public.apiBase;
const { token } = useAuth();

const createProducer = async (producer: IProducerForm) => {
  if (!token.value) {
    console.error("No token provided");
    return;
  }
  await $fetch("/producers/create", {
    baseURL: apiBase,
    method: "POST",
    body: producer,
    headers: {
      Authorization: token.value,
    },
  });
};

const onProducerFormSubmit = (producer: IProducerForm): void => {
  createProducer(producer);
};

definePageMeta({
  middleware: "sidebase-auth",
});

useSeoMeta({
  robots: "noindex, nofollow",
});
</script>
