<template>
  <div class="my-12">
    <v-row class="text-center">
      <v-col cols="12">
        <h2 class="text-h6">Ayuda a nuestra comunidad a crecer</h2>
      </v-col>
    </v-row>

    <!-- <v-row class="my-8 text-center">
      <v-col cols="4">
        <div>
          <p class="text-h3">20</p>
          <p>Organizaciones de productores y distribuidores</p>
        </div>
      </v-col>
      <v-col cols="4">
        <div>
          <p class="text-h3">67</p>
          <p>Tipos de productos y necesidades</p>
        </div>
      </v-col>
      <v-col cols="4">
        <div>
          <p class="text-h3">1</p>
          <p>Mantenedor del sitio :(</p>
        </div>
      </v-col>
    </v-row> -->

    <v-row class="text-center">
      <v-col cols="12">
        <v-btn
          append-icon="mdi-thumb-up-outline"
          class="px-16"
          color="primary"
          size="large"
          to="/colabora"
          variant="tonal"
          >Colabora</v-btn
        >
      </v-col>
    </v-row>
  </div>
</template>
