<template>
  <div class="d-flex flex-wrap ga-2">
    <div v-for="(c, i) in props.certifications" :key="i">
      <div class="text-center">
        <v-icon
          :class="'icon-' + (c.slug || c.abbreviation.toLowerCase())"
          aria-hidden="true"
        ></v-icon>
      </div>
      <div>{{ c.abbreviation }}</div>
      <v-tooltip
        activator="parent"
        location="bottom"
        :aria-label="c.name.es_es"
      >
        {{ c.name.es_es }}
      </v-tooltip>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  certifications: {
    type: Array,
    required: true,
  },
});
</script>
