<template>
  <div>
    <v-slide-group>
      <v-slide-group-item>
        <v-chip
          append-icon="mdi-chevron-down"
          class="mr-2"
          label
          size="small"
          :variant="
            producersFiltersStore.queryParameters.filters.activisms.length
              ? 'outlined'
              : 'tonal'
          "
          @click="onSheetUpdate()"
        >
          <v-icon start size="small"> mdi-bullhorn-outline </v-icon>
          Activismos
        </v-chip>

        <!-- SELECTED FILTERS LIST -->
        <v-chip
          v-for="(item, i) in producersFiltersStore.queryParameters.filters
            .activisms"
          :key="i"
          class="mr-2"
          label
          size="small"
          variant="outlined"
          @click="onChipRemove(item._id)"
        >
          <v-icon :class="`icon-${item.icon}`"></v-icon>
          {{ item.name.es_es }}
          <v-icon end> mdi-close </v-icon>
        </v-chip>

        <v-chip
          v-if="producersFiltersStore.queryParameters.filters.activisms.length"
          label
          size="small"
          variant="outlined"
          @click="producersFiltersStore.queryParameters.filters.activisms = []"
        >
          <v-icon start> mdi-close </v-icon>
          Quitar filtros
        </v-chip>
      </v-slide-group-item>
    </v-slide-group>
    <v-bottom-sheet v-model="sheet" inset :scrollable="true">
      <v-card height="80vh">
        <v-card-title> Activismos </v-card-title>
        <v-card-text>
          <v-list v-model:selected="model" select-strategy="classic">
            <v-list-item
              v-for="(activism, i) in activismsStore.list"
              :key="i"
              :value="activism"
            >
              <template #prepend>
                <v-icon :class="`icon-${activism.icon}`"></v-icon>
              </template>
              <v-list-item-title>{{ activism.name.es_es }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-btn variant="text" @click="sheet = false"> Cerrar </v-btn>
          <v-btn variant="text" :disabled="!model.length" @click="model = []">
            Restablecer
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn color="primary" variant="text" @click="onApply">
            Aplicar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script lang="ts" setup>
import type { IActivism } from "~/interfaces/activism";

// Stores
const activismsStore = useActivismsStore();
const producersFiltersStore = useProducersFiltersStore();
const { queryParameters } = storeToRefs(producersFiltersStore);

// Local variables
const model = ref<IActivism[]>([]);
const sheet = ref(false);

// Actions
const onApply = (): void => {
  queryParameters.value.filters.activisms = model.value;
  sheet.value = false;
};

const onChipRemove = (activismId: IActivism["_id"]): void => {
  queryParameters.value.filters.activisms =
    queryParameters.value.filters.activisms.filter((v) => v._id !== activismId);
};

const onSheetUpdate = (): void => {
  model.value = queryParameters.value.filters.activisms;
  sheet.value = true;
};
</script>

<style></style>
