<template>
  <v-autocomplete
    v-model="producerRelationToAddProducer"
    v-model:search="search"
    clearable
    :loading="status === 'pending'"
    item-title="name"
    item-value="_id"
    :items="data.docs"
    flat
    hide-no-data
    label="Organización"
    no-filter
    placeholder="Escribe para buscar"
    return-object
    :rules="[formRules.required]"
    @update:model-value="
      emit('update-selection', producerRelationToAddProducer)
    "
  ></v-autocomplete>
</template>

<script lang="ts" setup>
import type { IProducer } from "~/interfaces/producer";

const emit = defineEmits(["update-selection"]);

const apiBase = useRuntimeConfig().public.apiBase;
const formRules = {
  required: (value: unknown) => !!value || "Este campo es requerido",
};

const producerRelationToAddProducer = ref<IProducer | null>(null);
const search = ref<string>("");

const { data, status } = await useFetch("/producers", {
  baseURL: apiBase,
  default: () => ({ docs: [] }),
  query: { search: search },
  pick: ["docs"],
  immediate: false,
  server: false,
  watch: [search],
});
</script>
