<template>
  <v-card :variant="config.variant" rounded="0" tag="article">
    <v-card-text class="pb-0">
      <!-- NEEDS COVERED -->
      <v-chip v-for="need in producerDetail.needsCovered" :key="need._id" class="text-white mr-2 mb-2"
        :color="need.color || 'secondary'" label size="x-small" variant="flat">
        <v-icon start size="x-small"> mdi-label </v-icon>
        {{ need.name.es_es }}
      </v-chip>
    </v-card-text>

    <!-- TITLE -->
    <v-card-title class="pt-0 pb-1" tag="h3">
      <nuxt-link class="np-link-base" :to="'/productores/' + producerDetail.slug" rel="related">{{ producerDetail?.name
        }}</nuxt-link>
    </v-card-title>

    <v-card-text>
      <!-- LOCATION -->
      <div v-if="producerDetail?.locations[0]" class="d-flex mb-1">
        <LocationDetail address-type="cityAndState" link :location="producerDetail.locations[0]" small></LocationDetail>
      </div>

      <!-- ORGANIZATIONAL TYPE -->
      <div v-if="producerDetail?.organizationalType">
        <v-icon start size="small">mdi-account-group</v-icon>
        <span class="text-caption">
          {{ producerDetail?.organizationalType.name.es_es }}
        </span>
      </div>

      <!-- TYPES -->
      <v-chip-group column>
        <v-chip v-for="type in producerDetail.types" :key="type.code" label variant="outlined" size="small">
          <v-icon size="small" class="mr-1">{{ type.icon }}</v-icon>
          <span class="text-caption">{{ type.name.es_es }}</span>
        </v-chip>
      </v-chip-group>
    </v-card-text>

    <!-- DESCRIPTION -->
    <v-divider class="mx-4"></v-divider>
    <v-card-text>
      {{ producerDetail.description }}
    </v-card-text>

    <!-- PRODUCTS -->
    <template v-if="!config.hideProducts && producerDetail.productCategories.length">
      <v-divider class="mx-4"></v-divider>

      <v-card-text>
        <h4 class="text-caption">Categorías de productos o servicios</h4>
        <ProducerProducts class="mt-2" :products="producerDetail.productCategories"
          @product-clicked="onProductClicked($event)"></ProducerProducts>
      </v-card-text>
    </template>

    <!-- ACTIVISMS -->
    <template v-if="
      !config.hideActivisms &&
      producerDetail.activisms &&
      producerDetail.activisms.length
    ">
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <h4 class="text-caption">Activismos</h4>
        <ActivismList :activisms="producerDetail?.activisms" class="mt-2"></ActivismList>
      </v-card-text>
    </template>

    <!-- CERTIFICATES -->
    <template v-if="!config.hideCertificates && producerDetail.certifications.length">
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <h4 class="text-caption">Certificados</h4>
        <CertificationList :certifications="producerDetail.certifications" class="mt-2"></CertificationList>
      </v-card-text>
    </template>

    <!-- CONTACTS -->
    <template v-if="!config.hideContact && hasSomeContactInfo">
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <h4 class="text-caption">Contacto</h4>

        <ProducerContacts :producer-detail="producerDetail"></ProducerContacts>
      </v-card-text>
    </template>
  </v-card>
</template>

<script setup lang="ts">
import type { IProducer } from "~/interfaces/producer";
import type { IProduct } from "~/interfaces/product";

interface Props {
  producerDetail: IProducer;
  config?: {
    canDelete?: boolean;
    canEdit?: boolean;
    hideActions?: boolean;
    hideActivisms?: boolean;
    hideCertificates?: boolean;
    hideContact?: boolean;
    hideProducts?: boolean;
    variant?: 'text' | 'flat' | 'elevated' | 'tonal' | 'outlined' | 'plain'
  };
}

const props = withDefaults(defineProps<Props>(), {
  config: () => ({
    canDelete: false,
    canEdit: false,
    hideActions: false,
    hideActivisms: false,
    hideCertificates: false,
    hideContact: false,
    hideProducts: false,
    variant: "outlined",
  }),
});

const emits = defineEmits(["productClicked"]);

const hasSomeContactInfo = computed(() => {
  const producerDetail = props.producerDetail;
  return Boolean(
    producerDetail?.contactEmails.length ||
    producerDetail?.contactPhones.length ||
    producerDetail?.contactWebs.length ||
    producerDetail?.locations.length
  );
});

const onProductClicked = (product: IProduct): void => {
  emits("productClicked", product);
};
</script>
