<template>
  <div class="mt-2">
    <div v-if="producerDetail?.locations[0]" class="d-flex mt-1">
      <v-icon start size="small">mdi-home-map-marker</v-icon>
      <LocationDetail
        address-type="untilStateMedium"
        link
        :location="producerDetail?.locations[0]"
        show-street-address-extra-info
        small
      ></LocationDetail>
    </div>

    <div v-if="producerDetail?.contactWebs[0]" class="d-flex mt-1">
      <v-icon start size="small">mdi-web</v-icon>
      <a
        class="np-link-base"
        :href="producerDetail?.contactWebs[0]"
        rel="external"
      >
        <span class="text-caption">{{ producerDetail?.contactWebs[0] }}</span>
      </a>
    </div>

    <div v-if="producerDetail?.contactEmails[0]" class="d-flex mt-1">
      <v-icon start size="small">mdi-email</v-icon>
      <a
        class="np-link-base"
        :href="`mailto:${producerDetail?.contactEmails[0]}`"
        rel="external"
      >
        <span class="text-caption">{{ producerDetail?.contactEmails[0] }}</span>
      </a>
    </div>

    <div v-if="producerDetail?.contactPhones[0]" class="d-flex mt-1">
      <v-icon start size="small">mdi-phone</v-icon>
      <a
        class="np-link-base"
        :href="`tel:${producerDetail?.contactPhones[0]}`"
        rel="external"
      >
        <span class="text-caption">{{ producerDetail?.contactPhones[0] }}</span>
      </a>
    </div>
    <div v-if="producerDetail?.contactPhones[1]" class="d-flex mt-1">
      <v-icon start size="small">mdi-phone</v-icon>
      <a
        class="np-link-base"
        :href="`tel:${producerDetail?.contactPhones[1]}`"
        rel="external"
      >
        <span class="text-caption">{{ producerDetail?.contactPhones[1] }}</span>
      </a>
    </div>
  </div>
</template>

<script lang="ts" setup>
defineProps({
  producerDetail: {
    type: Object,
    required: true,
  },
});
</script>
