<template>
  <div id="producer-filters">
    <h3 class="mb-2">Filtros</h3>
    <ProducerNeedsFilter class="mb-2"></ProducerNeedsFilter>

    <ProducerTypesFilter class="mb-2"></ProducerTypesFilter>

    <ProducerActivismsFilter class="mb-2"></ProducerActivismsFilter>

    <ProducerProductsFilter class="mb-2"></ProducerProductsFilter>

    <ProducerLocationFilter></ProducerLocationFilter>
  </div>
</template>

<script lang="ts" setup></script>

<style></style>
