<template>
  <v-form v-model="formValidity" @submit.prevent="emit('submit', producer)">
    <v-row>
      <v-col cols="12">
        <!-- NAME -->
        <v-text-field
          v-model.trim="producer.name"
          label="Nombre"
          name="name"
          prepend-icon="mdi-nature-people"
          required
          :rules="[formRules.required, formRules.counter]"
        ></v-text-field>
      </v-col>

      <!-- DESCRIPTION -->
      <v-col cols="12">
        <v-textarea
          v-model.trim="producer.description"
          label="Descripción"
          name="description"
          prepend-icon="mdi-script-text-outline"
          rows="3"
        ></v-textarea>
      </v-col>

      <!-- ACTIVISMS -->
      <v-col cols="12">
        <h2 class="text-h6 mb-4">Activismos</h2>
        <ActivismSelector
          :initial-selection="producer.activisms"
          @update-selection="onActivismSelectorUpdateSelection"
        ></ActivismSelector>
      </v-col>

      <!-- CERTIFICATIONS -->
      <v-col cols="12">
        <h2 class="text-h6 mb-4">Certificaciones</h2>

        <v-autocomplete
          v-model="producer.certifications"
          :items="certificationList"
          chips
          item-title="abbreviation"
          item-value="_id"
          label="Certificaciones"
          multiple
          prepend-icon="mdi-text-box-check-outline"
        >
          <template #chip="{ props, item }">
            <v-chip label v-bind="props">
              <template #prepend>
                <v-avatar>
                  <v-icon
                    :class="
                      'icon-' +
                      (item.raw.slug || item.raw.abbreviation.toLowerCase())
                    "
                  ></v-icon>
                </v-avatar>
              </template>
              {{ item.raw.abbreviation }}
            </v-chip>
          </template>
          <template #item="{ props, item }">
            <v-list-item
              v-bind="props"
              avatar
              :title="item.raw.abbreviation"
              :subtitle="item.raw.name.es_es"
            >
              <template #prepend>
                <v-icon
                  :class="
                    'icon-' +
                    (item.raw.slug || item.raw.abbreviation.toLowerCase())
                  "
                ></v-icon>
              </template>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>

      <v-col cols="12">
        <h2 class="text-h6 mb-4">Tipos</h2>

        <!-- ACTIVITY TYPE -->
        <v-select
          v-model="producer.types"
          :items="producerTypes"
          item-title="name.es_es"
          item-value="_id"
          label="Según tipo de actividad"
          multiple
          prepend-icon="mdi-all-inclusive"
        ></v-select>

        <!-- NEEDS COVERED -->
        <v-select
          v-model="producer.needsCovered"
          :items="needs"
          item-title="name.es_es"
          item-value="_id"
          label="Según la necesidad que cubre"
          multiple
          prepend-icon="mdi-room-service-outline"
        ></v-select>

        <!-- ORGANIZATIONAL TYPE -->
        <v-select
          v-model="producer.organizationalType"
          :items="producerOrganizationalTypes"
          item-title="name.es_es"
          item-value="_id"
          label="Según forma de organizarse"
          persistent-hint
          prepend-icon="mdi-account-group-outline"
        ></v-select>
      </v-col>
    </v-row>

    <!-- PRODUCT CATEGORIES -->
    <v-row>
      <v-col cols="12">
        <h2 class="text-h6 mb-4">Categorías de Productos</h2>

        <ProductAutocomplete
          :initial-selection="producer.productCategories"
          @update-selection="onProductAutocompleteUpdateSelection"
        ></ProductAutocomplete>

        <!-- <ProducerProducts
          class="mb-2"
          :products="producer.productCategories"
        ></ProducerProducts> -->

        <!-- <ProductSelectionList
          :initial-selection="producer.productCategories"
          @update-selection="onProductSelectionListUpdate"
        ></ProductSelectionList> -->
      </v-col>
    </v-row>

    <!-- CONTACT -->
    <v-row>
      <v-col cols="12">
        <h2 class="text-h6 mb-1">Contacto</h2>
      </v-col>

      <!-- EMAIL -->
      <v-col cols="12" md="6">
        <v-text-field
          v-model.trim="producer.contactEmails[0]"
          label="Email"
          prepend-icon="mdi-email-outline"
          :rules="[formRules.email]"
        ></v-text-field>
      </v-col>

      <!-- WEB -->
      <v-col cols="12" md="6">
        <v-text-field
          v-model.trim="producer.contactWebs[0]"
          label="Web"
          prepend-icon="mdi-web"
        ></v-text-field>
      </v-col>

      <!-- PHONE 1 -->
      <v-col cols="12" md="6">
        <!-- <v-phone-input v-model="producer.contactPhones[0]" /> -->
        <v-text-field
          v-model.trim="producer.contactPhones[0]"
          label="Teléfono"
          prepend-icon="mdi-phone"
        ></v-text-field>
      </v-col>

      <!-- PHONE 2 -->
      <v-col cols="12" md="6">
        <v-text-field
          v-model.trim="producer.contactPhones[1]"
          label="Segundo teléfono"
          prepend-icon="mdi-phone"
        ></v-text-field>
      </v-col>
    </v-row>

    <!-- LOCATION -->
    <v-row>
      <v-col cols="12">
        <h2 class="text-h6 mb-4">Localizacion</h2>

        <v-btn class="mb-3" @click="locationSelectorSheet = true"
          ><v-icon start> mdi-pencil-outline </v-icon>Editar</v-btn
        >
      </v-col>

      <v-bottom-sheet v-model="locationSelectorSheet" eager inset scrollable>
        <LocationSelector
          v-if="locationSelectorSheet"
          card-title="Escoge localización"
          :location-already-selected="producer.locations[0]"
          :show-street-address-extra-info="true"
          @change="onLocationSelectorChange"
          @close="locationSelectorSheet = false"
        ></LocationSelector>
      </v-bottom-sheet>

      <v-col v-if="producer.locations.length" cols="12">
        <h3 class="text-subtitle-1 mb-3">Seleccionada:</h3>

        <LocationDetail
          address-type="untilStateMedium"
          :location="producer.locations[0]"
          show-street-address-extra-info
        ></LocationDetail>
      </v-col>
    </v-row>

    <!-- RELATIONS -->
    <v-row>
      <v-col cols="12">
        <h2 class="text-h6 mb-4">Relaciones</h2>
      </v-col>

      <v-col cols="12">
        <v-btn @click="producerRelationSelectorDialog = true">
          <v-icon start> mdi-plus </v-icon>
          Añadir relación
        </v-btn>

        <v-dialog v-model="producerRelationSelectorDialog" max-width="500">
          <ProducerRelationSelector
            @add-selection="onProducerRelationSelectorAdd"
            @cancel="producerRelationSelectorDialog = false"
          />
        </v-dialog>
      </v-col>

      <v-col cols="12">
        <ProducerRelationList :relations="producer.relations" />
      </v-col>
    </v-row>

    <!-- Button to handle form submission -->
    <v-btn
      block
      class="mt-12"
      color="primary"
      :disabled="!formValidity"
      size="large"
      type="submit"
      >Guardar</v-btn
    >
  </v-form>
</template>

<script lang="ts" setup>
import type { IActivism } from "~/interfaces/activism";
import type { ILocation } from "~/interfaces/location";
import type { IProducer } from "~/interfaces/producer";
import type { IProducerForm } from "~/interfaces/producer-form";
import type { IProducerRelationType } from "~/interfaces/producer-relation-type";
import type { IProduct } from "~/interfaces/product";

// Props
const props = defineProps<{ producerCreated?: IProducerForm }>();

// Emits
const emit = defineEmits<{
  (event: "submit", payload: IProducerForm): void;
}>();

// Stores
const certificationsStore = useCertificationsStore();
const needsStore = useNeedsStore();
const producerOrganizationalTypesStore = useProducerOrganizationalTypesStore();
const producerTypesStore = useProducerTypesStore();

// Definición de las variables reactivas
const producer = ref<IProducerForm>({
  activisms: [],
  certifications: [],
  contactEmails: [],
  contactPhones: [],
  contactWebs: [],
  description: undefined,
  locations: [],
  name: undefined,
  needsCovered: [],
  organizationalType: null,
  relations: {},
  productCategories: [],
  types: [],
});

const formValidity = ref(true);
const certificationList = certificationsStore.list;
const needs = needsStore.list;
const producerOrganizationalTypes = producerOrganizationalTypesStore.list;
const producerTypes = producerTypesStore.list;
const locationSelectorSheet = ref(false);
const producerRelationSelectorDialog = ref(false);

onMounted(() => {
  if (props.producerCreated) {
    producer.value = props.producerCreated;
  }
});

// Validadores
const formRules = {
  required: (value: unknown) => !!value || "Este campo es requerido",
  counter: (value: string | unknown[]) =>
    (value && value.length <= 50) || "No más de 50 caracteres",
  email: (value: string) => {
    if (!value) return true;
    const pattern = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
    return pattern.test(value) || "Email inválido";
  },
};

// Métodos para manejar eventos
const onActivismSelectorUpdateSelection = (activisms: IActivism[]) => {
  producer.value.activisms = activisms;
};

const onLocationSelectorChange = (location: ILocation) => {
  producer.value.locations[0] = location;
  locationSelectorSheet.value = false;
};

const onProducerRelationSelectorAdd = (producerRelation: {
  relationType: IProducerRelationType | undefined;
  producer: IProducer | undefined;
}) => {
  producerRelationSelectorDialog.value = false;
  if (producerRelation.relationType && producerRelation.producer) {
    updateProducerRelations(
      producerRelation.relationType.code,
      producerRelation.producer
    );
  }
};

const onProductAutocompleteUpdateSelection = (productSelection: IProduct[]) => {
  producer.value.productCategories = productSelection;
};

const updateProducerRelations = (
  relationTypeCode: IProducerRelationType["code"],
  producerRelated: IProducer
) => {
  if (producer.value.relations[relationTypeCode]?.length) {
    producer.value.relations[relationTypeCode]?.push(producerRelated);
  } else {
    producer.value.relations[relationTypeCode] = [producerRelated];
  }
};
</script>
