<template>
  <v-form v-model="formValidity" @submit.prevent="handleSubmit">
    <v-row>
      <!-- DESCRIPTION -->
      <v-col cols="12">
        <label class="d-block mb-4" for="description">
          Cuéntanos todo lo que consideres oportuno del productor que quieres
          añadir.
        </label>
        <v-textarea
          v-model.trim="form.description"
          class="mb-5"
          hint="Este campo es requerido"
          name="description"
          persistent-hint
          rows="6"
          required
          :rules="[formRules.required, formRules.counter]"
        ></v-textarea>

        <label class="d-block mb-4" for="contact"
          >Si quieres dinos por favor cómo podemos contactarte:</label
        >
        <!-- CONTACT -->
        <v-text-field
          v-model.trim="form.contact"
          class="mb-5"
          hide-details
          name="contact"
        ></v-text-field>

        <!-- ALERT SUCCESS-->
        <v-alert v-if="props.success" type="success" class="mb-5">
          Formulario enviado correctamente. Muchas gracias por colaborar.
        </v-alert>

        <!-- ALERT ERROR-->
        <v-alert v-if="props.error" type="error" class="mb-5">
          Lo sentimos, ha habido un error y tu formulario no se ha enviado. Si
          el problema persiste puedes escribirnos a
          <a class="text-white" href="mailto:hola@naturalproducers.org"
            >hola@naturalproducers.org</a
          >
        </v-alert>

        <!-- SUBMIT -->
        <v-btn
          color="primary"
          :disabled="!formValidity"
          :loading="props.loading"
          type="submit"
          variant="tonal"
          size="large"
          >Enviar</v-btn
        >
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts" setup>
import type { CollaborateFormData } from "~/interfaces/collaborateFormData";

const props = defineProps<{
  error: boolean;
  loading: boolean;
  success: boolean;
}>();

const emit = defineEmits(["submit"]);

const form = ref<CollaborateFormData>({
  contact: "",
  description: "",
});

const formValidity = ref(false);

const formRules = {
  required: (value: unknown) => !!value || "Este campo es requerido",
  counter: (value: string) =>
    (value && value.length <= 10000) || "No más de 10000 caracteres",
};

const handleSubmit = () => {
  emit("submit", form.value);
};
</script>
