<template>
  <v-bottom-sheet v-model="sheet" inset scrollable eager>
    <template #activator="{ props }">
      <v-slide-group>
        <v-slide-group-item>
          <v-chip
            append-icon="mdi-chevron-down"
            class="mr-2"
            :close-icon="
              producersFiltersStore.queryParameters.sort.location
                ? undefined
                : 'mdi-chevron-down'
            "
            label
            size="small"
            :variant="
              producersFiltersStore.queryParameters.sort.location
                ? 'outlined'
                : 'tonal'
            "
            v-bind="props"
          >
            <v-icon start size="small">mdi-map-marker-radius-outline</v-icon>
            <LocationDetail
              v-if="producersFiltersStore.queryParameters.sort.location"
              :location="producersFiltersStore.queryParameters.sort.location"
            ></LocationDetail>
            <template v-else>Proximidad</template>
          </v-chip>
          <v-chip
            v-if="producersFiltersStore.queryParameters.sort.location"
            label
            size="small"
            variant="outlined"
            @click="producersFiltersStore.queryParameters.sort.location = null"
          >
            <v-icon start> mdi-close </v-icon>
            Quitar filtros
          </v-chip>
        </v-slide-group-item>
      </v-slide-group>
    </template>

    <LocationSelector
      v-if="sheet"
      :location-already-selected="
        producersFiltersStore.queryParameters.sort.location
      "
      @change="onChange($event)"
      @close="sheet = false"
    ></LocationSelector>
  </v-bottom-sheet>
</template>

<script lang="ts" setup>
import type { ILocation } from "~/interfaces/location";

// Stores
const producersFiltersStore = useProducersFiltersStore();
const { queryParameters } = storeToRefs(producersFiltersStore);

// Local variables
const sheet = ref(false);

// Actions
const onChange = (location: ILocation) => {
  queryParameters.value.sort.location = location;
  sheet.value = false;
};
</script>
