<template>
  <div style="height: 40vh">
    <LMap
      :zoom="14"
      :center="[producerCoordinates[1], producerCoordinates[0]]"
      :options="{ dragging: true }"
      :use-global-leaflet="false"
    >
      <LTileLayer
        url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
        attribution="https://www.openstreetmap.org/copyright"
      ></LTileLayer>

      <LMarker :lat-lng="[producerCoordinates[1], producerCoordinates[0]]">
        <LIcon
          :icon-anchor="[22, 56]"
          :icon-size="[45, 45]"
          class-name="map-marker"
        >
          <div class="map-marker__pin">
            <span class="map-marker__pin-inner"></span>
          </div>
        </LIcon>
      </LMarker>
    </LMap>
  </div>
</template>

<script lang="ts" setup>
defineProps<{
  producerCoordinates: number[];
}>();
</script>

<style></style>
