<template>
  <v-slide-group
    v-model="producersFiltersStore.queryParameters.filters.needs"
    multiple
    center-active
  >
    <v-slide-group-item
      v-for="need in needsStore.list"
      :key="need._id"
      v-slot="{ isSelected, toggle }"
      :value="need"
    >
      <v-chip
        class="mr-2"
        :append-icon="isSelected ? 'mdi-close' : ''"
        label
        :variant="!isSelected ? 'tonal' : 'outlined'"
        @click="toggle"
      >
        <v-icon start :color="need.color" size="small"> mdi-label </v-icon>
        {{ need.name.es_es }}
      </v-chip>
    </v-slide-group-item>
    <v-chip
      v-if="producersFiltersStore.queryParameters.filters.needs.length"
      label
      variant="outlined"
      @click="unselect"
    >
      <v-icon start> mdi-close </v-icon>
      Quitar filtros
    </v-chip>
  </v-slide-group>
</template>

<script lang="ts" setup>
const needsStore = useNeedsStore();
const producersFiltersStore = useProducersFiltersStore();

const unselect = () => {
  producersFiltersStore.queryParameters.filters.needs = [];
};
</script>

<style></style>
