<template>
  <div>
    <v-scroll-y-transition tag="v-chip-group" group>
      <v-chip
        v-for="(item, i) in displayedProducts"
        :key="i"
        class="my-1 mr-2"
        size="small"
        label
        @click="emits('productClicked', item)"
        >{{
          (item.alternateName && item.alternateName.es_es) || item.name.es_es
        }}</v-chip
      >
    </v-scroll-y-transition>

    <div class="mt-2">
      <v-btn
        v-if="props.products.length > displayLimitNumer"
        color="primary"
        size="x-small"
        variant="text"
        @click="toggleVisibility"
      >
        {{ visibilityToggleText }}
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from "vue";

const props = defineProps({
  products: {
    type: Array<{ alternateName: { es_es: string }; name: { es_es: string } }>,
    required: true,
  },
});

const emits = defineEmits(["productClicked"]);

const displayLimitNumer = 5;
const displayLimit = ref(displayLimitNumer);
const displayedProducts = computed(() => {
  return props.products.slice(0, displayLimit.value);
});

const toggleVisibility = () => {
  displayLimit.value =
    displayLimit.value === props.products.length
      ? displayLimitNumer
      : props.products.length;
};

const visibilityToggleText = computed(() => {
  return displayLimit.value === displayLimitNumer ? "Ver más" : "Ver menos";
});
</script>
