<template>
  <div>
    <v-slide-group>
      <v-slide-group-item>
        <v-chip
          class="mr-2"
          append-icon="mdi-chevron-down"
          label
          size="small"
          :variant="
            producersFiltersStore.queryParameters.filters.productCategories
              .length
              ? 'outlined'
              : 'tonal'
          "
          @click="onSheetUpdate()"
        >
          <v-icon start size="small">mdi-basket-outline</v-icon>
          Categorías de productos
        </v-chip>

        <!-- SELECTED FILTERS LIST -->
        <v-chip
          v-for="(item, i) in producersFiltersStore.queryParameters.filters
            .productCategories"
          :key="i"
          class="mr-2"
          :color="item.metaData.iconColor"
          label
          size="small"
          variant="outlined"
          @click="onChipRemove(item._id)"
        >
          <v-icon start size="small">{{ item.metaData.iconCode }}</v-icon>
          {{
            item.alternateName?.es_es
              ? item.alternateName.es_es
              : item.name.es_es
          }}
          <v-icon end> mdi-close </v-icon>
        </v-chip>

        <!-- REMOVE ALL FILTERS -->
        <v-chip
          v-if="
            producersFiltersStore.queryParameters.filters.productCategories
              .length
          "
          label
          size="small"
          variant="outlined"
          @click="
            producersFiltersStore.queryParameters.filters.productCategories = []
          "
        >
          <v-icon start> mdi-close </v-icon>
          Quitar filtros
        </v-chip>
      </v-slide-group-item>
    </v-slide-group>
    <v-bottom-sheet v-model="sheet" inset :scrollable="true">
      <v-card max-height="80vh" min-height="80vh">
        <v-card-title> Categorías de productos </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="searchQuery"
            autofocus
            class="font-weight-regular"
            clearable
            label="Escribe para filtrar"
            variant="outlined"
            @update:model-value="onSearchQueryUpdate"
          ></v-text-field>
          <v-list v-model:selected="model" select-strategy="classic">
            <ProductItem
              v-for="(result, i) in results"
              :key="i"
              :product="result.item"
            ></ProductItem>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-btn variant="text" @click="sheet = false"> Cerrar </v-btn>
          <v-btn variant="text" :disabled="!model.length" @click="model = []">
            Restablecer
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn color="primary" variant="text" @click="onApply">
            Aplicar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script lang="ts" setup>
import type { UseFuseOptions } from "@vueuse/integrations/useFuse";
import { useFuse } from "@vueuse/integrations/useFuse";
import type { IProduct } from "~/interfaces/product";

// Stores
const productsStore = useProductsStore();
const producersFiltersStore = useProducersFiltersStore();
const { queryParameters } = storeToRefs(producersFiltersStore);

// Reactive state
const fuseOptions = ref<UseFuseOptions<IProduct>>({
  fuseOptions: {
    keys: ["name.es_es", "keywords.es_es"],
    isCaseSensitive: false,
    threshold: 0.4,
  },
  resultLimit: 5,
  matchAllWhenSearchEmpty: true,
});
const model = ref<IProduct[]>([]);
const searchQuery = ref<string>("");
const searchQueryDebounced = ref<string>("");
const sheet = ref(false);

// Actions
const onApply = (): void => {
  queryParameters.value.filters.productCategories = model.value;
  sheet.value = false;
};

const onChipRemove = (productId: IProduct["_id"]): void => {
  queryParameters.value.filters.productCategories =
    queryParameters.value.filters.productCategories.filter(
      (v) => v._id !== productId
    );
};

const onSearchQueryUpdate = useDebounceFn(() => {
  searchQueryDebounced.value = searchQuery.value;
}, 300);

const onSheetUpdate = (): void => {
  model.value = queryParameters.value.filters.productCategories;
  sheet.value = true;
};

const { results } = useFuse(
  searchQueryDebounced,
  productsStore.list,
  fuseOptions
);
</script>
