<template>
  <div>
    <v-slide-group>
      <v-slide-group-item>
        <v-chip
          append-icon="mdi-chevron-down"
          class="mr-2"
          label
          size="small"
          :variant="
            producersFiltersStore.queryParameters.filters.producerTypes.length
              ? 'outlined'
              : 'tonal'
          "
          @click="onSheetUpdate()"
        >
          <v-icon start size="small"> mdi-all-inclusive </v-icon>
          Producción - distribución
        </v-chip>

        <!-- SELECTED FILTERS LIST -->
        <v-chip
          v-for="(item, i) in producersFiltersStore.queryParameters.filters
            .producerTypes"
          :key="i"
          class="mr-2"
          label
          size="small"
          variant="outlined"
          @click="onChipRemove(item._id)"
        >
          <v-icon>{{ item.icon }}</v-icon>
          {{ item.name.es_es }}
          <v-icon end> mdi-close </v-icon>
        </v-chip>

        <v-chip
          v-if="
            producersFiltersStore.queryParameters.filters.producerTypes.length
          "
          label
          size="small"
          variant="outlined"
          @click="
            producersFiltersStore.queryParameters.filters.producerTypes = []
          "
        >
          <v-icon start> mdi-close </v-icon>
          Quitar filtros
        </v-chip>
      </v-slide-group-item>
    </v-slide-group>
    <v-bottom-sheet v-model="sheet" inset :scrollable="true">
      <v-card height="80vh">
        <v-card-title> Cadena producción - distribución </v-card-title>
        <v-card-text>
          <v-list v-model:selected="model" select-strategy="classic">
            <v-list-item
              v-for="(item, i) in producerTypesStore.list"
              :key="i"
              :subtitle="item.description.es_es"
              :title="item.name.es_es"
              :value="item"
            >
              <template #prepend>
                <v-icon>{{ item.icon }}</v-icon>
              </template>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-btn variant="text" @click="sheet = false"> Cerrar </v-btn>
          <v-btn variant="text" :disabled="!model.length" @click="model = []">
            Restablecer
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn color="primary" variant="text" @click="onApply">
            Aplicar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script lang="ts" setup>
import type { IProducerType } from "~/interfaces/producer-type";

// Stores
const producerTypesStore = useProducerTypesStore();
const producersFiltersStore = useProducersFiltersStore();
const { queryParameters } = storeToRefs(producersFiltersStore);

// Local variables
const model = ref<IProducerType[]>([]);
const sheet = ref(false);

// Actions
const onApply = (): void => {
  queryParameters.value.filters.producerTypes = model.value;
  sheet.value = false;
};

const onChipRemove = (producerTypeId: IProducerType["_id"]): void => {
  queryParameters.value.filters.producerTypes =
    queryParameters.value.filters.producerTypes.filter(
      (v) => v._id !== producerTypeId
    );
};

const onSheetUpdate = (): void => {
  model.value = queryParameters.value.filters.producerTypes;
  sheet.value = true;
};
</script>

<style></style>
