<template>
  <v-form v-model="formValidity">
    <v-card>
      <v-card-title> Añade una relación </v-card-title>

      <v-card-text>
        <ProducerRelationTypeSelect
          class="mb-6"
          @update-selection="onProducerRelationTypeSelectUpdate"
        />
        <ProducerAutocomplete
          class="mb-6"
          @update-selection="onProducerAutocompleteUpdate"
        />
        <div
          v-if="
            producerRelationToAdd.producer && producerRelationToAdd.relationType
          "
        >
          {{ "Esta organización" }}
          <strong>{{
            producerRelationToAdd.relationType.name.es_es.toLowerCase()
          }}</strong>
          la organización
          <strong>{{ producerRelationToAdd.producer.name }}</strong
          >.
        </div>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn variant="plain" @click="emit('cancel')">Cancelar</v-btn>
        <v-btn
          color="primary"
          :disabled="!formValidity"
          variant="text"
          @click="emit('add-selection', producerRelationToAdd)"
          >Aplicar</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts" setup>
import type { IProducer } from "~/interfaces/producer";
import type { IProducerRelationType } from "~/interfaces/producer-relation-type";

const emit = defineEmits(["add-selection", "cancel"]);

const formValidity = ref(false);
const producerRelationToAdd = ref<{
  relationType: IProducerRelationType | undefined;
  producer: IProducer | undefined;
}>({
  relationType: undefined,
  producer: undefined,
});

const onProducerAutocompleteUpdate = (producer: IProducer) => {
  producerRelationToAdd.value.producer = producer;
};

const onProducerRelationTypeSelectUpdate = (
  relationType: IProducerRelationType | undefined
) => {
  producerRelationToAdd.value.relationType = relationType;
};
</script>
