<template>
  <v-select
    v-model="producerRelationToAddRelationType"
    :hint="
      producerRelationToAddRelationType &&
      producerRelationToAddRelationType.description.es_es
    "
    :items="producerRelationTypesStore.list"
    item-title="name.es_es"
    item-value="_id"
    label="Tipo de relación"
    persistent-hint
    return-object
    :rules="[formRules.required]"
    @update:model-value="
      emit('update-selection', producerRelationToAddRelationType)
    "
  >
    <template #item="{ props, item }">
      <v-list-item
        v-bind="props"
        :subtitle="item.raw.description.es_es"
        :title="item.raw.name.es_es"
      ></v-list-item>
    </template>
  </v-select>
</template>

<script lang="ts" setup>
import type { IProducerRelationType } from "~/interfaces/producer-relation-type";

const producerRelationTypesStore = useProducerRelationTypesStore();

const emit = defineEmits<{
  (event: "update-selection", payload: IProducerRelationType | undefined): void;
}>();

const producerRelationToAddRelationType = ref<
  IProducerRelationType | undefined
>();

const formRules = {
  required: (value: unknown) => !!value || "Este campo es requerido",
};
</script>
