<template>
  <div v-for="(producersByRelation, code, i) in props.relations" :key="i">
    <div>
      <h3 class="mb-3">{{ producerRelationTypesStore.nameList[code] }}</h3>
      <masonry
        :cols="{
          default: 4,
          [thresholds.xl - 1]: 3,
          [thresholds.lg - 1]: 2,
          [thresholds.md - 1]: 2,
          [thresholds.sm - 1]: 1,
        }"
        :gutter="{ default: '24px' }"
      >
        <ProducerCard
          v-for="(producer, pci) of producersByRelation"
          :key="pci"
          class="mb-6"
          :config="{
            hideActivisms: true,
            hideCertificates: true,
            hideContact: true,
          }"
          :producer-detail="producer"
        ></ProducerCard>
      </masonry>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useDisplay } from "vuetify";
import type { IProducer } from "~/interfaces/producer";

const props = defineProps<{
  relations: IProducer["relations"];
}>();

const { thresholds } = useDisplay();

const producerRelationTypesStore = useProducerRelationTypesStore();
</script>
