@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?o7cq1h') format('truetype'),
    url('fonts/icomoon.woff?o7cq1h') format('woff'),
    url('fonts/icomoon.svg?o7cq1h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eu-ecolabel:before {
  content: "\e911";
}
.icon-pefc:before {
  content: "\e90f";
}
.icon-pefc-text:before {
  content: "\e910";
}
.icon-recycling:before {
  content: "\e90e";
}
.icon-farmer-long-hair:before {
  content: "\e90d";
}
.icon-vegan:before {
  content: "\e908";
}
.icon-vegetarian:before {
  content: "\e909";
}
.icon-ecological-footprint:before {
  content: "\e90a";
}
.icon-fair-trade:before {
  content: "\e90b";
}
.icon-humane-treatment:before {
  content: "\e90c";
}
.icon-microenterprise:before {
  content: "\e904";
}
.icon-seasonal-food:before {
  content: "\e905";
}
.icon-cooperative:before {
  content: "\e906";
}
.icon-food-sovereignty:before {
  content: "\e907";
}
.icon-gots:before {
  content: "\e900";
}
.icon-fsc:before {
  content: "\e902";
}
.icon-ofe:before {
  content: "\e901";
}
.icon-fsc-w-text:before {
  content: "\e903";
}
