<template>
  <v-row justify="center">
    <v-col cols="12" lg="10" xl="8">
      <v-card elevation="0">
        <div class="d-flex flex-column flex-md-row align-center flex-no-wrap">
          <v-avatar class="ma-3" size="325" rounded="0">
            <v-img
              src="/img/rice-field-bro.webp"
              lazy-src="/img/rice-field-bro-thumbnail.webp"
              alt="Personas trabajando la tierra"
              height="325"
              width="325"
            ></v-img>
          </v-avatar>
          <div>
            <v-card-text class="text-center text-md-left">
              <h2
                class="text-h5 text-sm-h4 text-md-h3 text-center text-md-left text-wrap text-lg-no-wrap mb-2"
              >
                Descubre dónde ejercer tu consumo consciente
              </h2>
              <h3
                class="text-subtitle-2 text-sm-subtitle-1 text-center text-md-left text-wrap mb-6"
              >
                Natural Producers es un directorio de productores y
                distribuidores locales que respetan a la naturaleza y a las
                personas.
              </h3>
              <v-btn color="primary" variant="tonal" to="/productores">
                Busca productores
              </v-btn>
              <v-btn color="primary" to="/colabora" class="ml-4">
                Añade nuevo productor
              </v-btn>
            </v-card-text>
          </div>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>
