$z-index: 4;
.leaflet-container {
  .leaflet-pane {
    z-index: $z-index;
  }
  
  .leaflet-tile-container .leaflet-tile {
    filter: grayscale(90%);
  }
  
  .leaflet-control-container {
    .leaflet-top, .leaflet-bottom {
      z-index: $z-index;
    }
  }
  
  .leaflet-control-attribution a {
    color: unset;
  }

  .leaflet-attribution-flag {
    display: none !important;
  }
}