<template>
  <div>
    <template v-if="link">
      <a
        class="np-link-base"
        :href="getMapLink()"
        rel="external"
        target="blank"
      >
        <span :class="{ 'text-caption': small }">
          {{ getAddressText() }}
          <template
            v-if="location.streetAddressExtraInfo && showStreetAddressExtraInfo"
          >
            <br />
            {{ location.streetAddressExtraInfo }}
          </template>
        </span>
      </a>
    </template>
    <span v-else :class="{ 'text-caption': small }">
      {{ getAddressText() }}
      <template
        v-if="location.streetAddressExtraInfo && showStreetAddressExtraInfo"
      >
        <br />
        {{ location.streetAddressExtraInfo }}
      </template>
    </span>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  addressType: {
    type: String,
    default: "untilState",
  },
  link: {
    type: Boolean,
    default: false,
  },
  location: {
    type: Object,
    required: true,
    default: null,
  },
  showStreetAddressExtraInfo: {
    type: Boolean,
    default: false,
  },
  small: {
    type: Boolean,
    default: false,
  },
});

const getMapLink = () => {
  return (
    "https://www.openstreetmap.org/search?query=" +
    props.location.properties.display_name
  );
};

const getAddressText = () => {
  const houseNumber = props.location.properties.address.house_number
    ? props.location.properties.address.house_number + ","
    : "";

  const road = props.location.properties.address.road
    ? props.location.properties.address.road + ","
    : "";

  const city =
    props.location.properties.address.city ||
    props.location.properties.address.place ||
    props.location.properties.address.boundary ||
    props.location.properties.address.town ||
    props.location.properties.address.hamlet ||
    props.location.properties.address.village ||
    "";

  const cityAndState = city + getCountyOrState();

  const industrial = props.location.properties.address.industrial
    ? ", " + props.location.properties.address.industrial
    : "";

  const untilCity = `${road} ${houseNumber} ${city}`;

  const untilState = `${untilCity}${industrial}${getStateDistrict()}${getCountyOrState()}`;

  const untilStateMedium = `${untilCity}${getCountyOrState()}`;

  switch (props.addressType) {
    case "cityAndState":
      return cityAndState;
    case "untilState":
      return untilState;
    default:
      return untilStateMedium;
  }
};

const getCountyOrState = () => {
  const text =
    props.location.properties.address.state ||
    props.location.properties.address.county ||
    props.location.properties.address.state_district ||
    "";
  return ", " + text;
};

const getStateDistrict = () => {
  return props.location.properties.address.state_district
    ? ", " + props.location.properties.address.state_district
    : "";
};
</script>
