<template>
  <v-card min-height="80vh">
    <v-card-item>
      <v-card-title>
        {{ cardTitle || "Selecciona localización" }}

        <!-- Location Finder By Text -->
        <v-text-field
          v-model="searchInput"
          :append-inner-icon="
            searchInput || searchResultList ? 'mdi-close' : null
          "
          append-icon="mdi-send"
          autofocus
          class="mb-3 mt-4 font-weight-regular"
          density="compact"
          hide-details
          label="Dirección"
          :loading="searchInputLoading"
          style="flex-basis: 100%"
          @click:append-inner="onLocationFinderByTextInputClear"
          @click:append="onLocationFinderByTextSearch"
          @keyup.enter="onLocationFinderByTextSearch"
        ></v-text-field>

        <v-text-field
          v-if="showStreetAddressExtraInfo"
          v-model="streetAddressExtraInfo"
          class="font-weight-regular"
          clearable
          label="Aclaraciones a la dirección"
        ></v-text-field>
      </v-card-title>
    </v-card-item>

    <v-card-text>
      <!-- Location Selection List -->
      <v-item-group v-if="searchResultList" v-model="locationSelectedIndex">
        <v-item
          v-for="(item, i) in searchResultList"
          :key="i"
          v-slot="{ isSelected, toggle }"
        >
          <v-card
            class="mb-3"
            :color="isSelected ? 'primary' : ''"
            :dark="isSelected"
            @click="
              () => {
                toggle;
                onLocationSelectionListClick(item, 16);
              }
            "
            @keyup.enter="toggle"
          >
            <v-list-item
              :value="item"
              prepend-icon="mdi-map-marker-radius-outline"
            >
              <v-list-item-title>{{
                item.properties.display_name
              }}</v-list-item-title>
            </v-list-item>
          </v-card>
        </v-item>
      </v-item-group>

      <v-alert v-if="searchResultEmpty" type="info" class="mb-5">
        Sin resultados. Usa solo número, calle, localidad, provincia, estado y
        país.
        <span v-if="showStreetAddressExtraInfo"
          >Si necesitas aclarar más datos usa las 'Aclaraciones a la
          dirección'</span
        >.
      </v-alert>

      <!-- Map -->
      <LMap
        v-show="!searchResultList.length"
        ref="mapRef"
        :center="[36.71656, -4.42545]"
        :options="{ zoomControl: false }"
        :use-global-leaflet="false"
        :zoom="5"
        style="height: 300px"
        @ready="onMapReady()"
      >
        <LTileLayer
          url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
          attribution="https://www.openstreetmap.org/copyright"
        ></LTileLayer>

        <!-- <LMarker v-if="mapMarker" draggable :lat-lng="mapMarker"></LMarker> -->

        <LControlZoom
          position="topleft"
          zoom-in-title="Acercar"
          zoom-out-title="Alejar"
        ></LControlZoom>
      </LMap>
    </v-card-text>

    <!-- Actions -->
    <v-card-actions class="pb-6">
      <v-btn variant="text" @click="$emit('close')"> Cerrar </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        v-if="showCleanBtn"
        variant="text"
        :disabled="!locationSelected"
        @click="onActionsRemove"
      >
        Restablecer
      </v-btn>

      <v-btn
        color="primary"
        variant="text"
        :disabled="!locationSelected"
        @click="onActionsApply"
      >
        Aplicar
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts" setup>
import type { ILocation } from "~/interfaces/location";

// Props
const props = defineProps<{
  cardTitle?: string;
  locationAlreadySelected?: ILocation | null;
  showCleanBtn?: boolean;
  showStreetAddressExtraInfo?: boolean;
}>();

// Emits
const emit = defineEmits(["change", "close"]);

const locationSelected = ref<ILocation | null>(null);
const locationSelectedIndex = ref(null);
const streetAddressExtraInfo = ref<string>("");

// Map
const mapRef = ref<{ leafletObject: L.Map } | null>(null);
const map = ref<L.Map | null>(null);
let mapMarker: L.Map | undefined; // https://stackoverflow.com/questions/65981712/uncaught-typeerror-this-map-is-null-vue-js-3-leaflet

// Location finder by text
const searchInput = ref<string | null>(null);
const searchInputLoading = ref(false);
const searchResultList = ref<ILocation[]>([]);
const searchResultEmpty = ref(false);

const onActionsApply = () => {
  const location = {
    ...locationSelected.value,
    streetAddressExtraInfo: streetAddressExtraInfo.value,
  };
  emit("change", location);
};

const onMapReady = () => {
  map.value = mapRef.value?.leafletObject;
  if (props.locationAlreadySelected) {
    selectLocation(props.locationAlreadySelected);
    streetAddressExtraInfo.value =
      props.locationAlreadySelected.streetAddressExtraInfo || "";
    searchInput.value = props.locationAlreadySelected.properties.display_name;
  }
  map.value?.on("click", onMapClick);
};

const onActionsRemove = () => {
  emit("change", null);
};

const onMapClick = async (clickLoc: {
  latlng: { lat: number; lng: number };
}): Promise<void> => {
  const location = await searchLocationReverse(
    clickLoc.latlng.lat,
    clickLoc.latlng.lng
  );
  if (location) {
    selectLocation(location);
  }
};

const onMapMarkerMoved = async (moveendLoc: {
  target: { _latlng: { lat: number; lng: number } };
}) => {
  const location = await searchLocationReverse(
    moveendLoc.target._latlng.lat,
    moveendLoc.target._latlng.lng
  );
  if (location) {
    selectLocation(location);
  }
};

const searchLocationReverse = async (
  lat: number,
  lon: number
): Promise<ILocation | null> => {
  searchInputLoading.value = true;
  const res = await searchLocationReverseRequest(lat, lon);
  searchInputLoading.value = false;
  return (res.features && res.features[0]) || null;
};

const searchLocationReverseRequest = async (
  lat: number,
  lon: number
): Promise<{ features: ILocation[]; licence: string; type: string }> => {
  const nominatimReverseUrl = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lon}&format=geojson&addressdetails=true&email=hola@franciscogodoy.es`;
  const res: { features: ILocation[]; licence: string; type: string } =
    await $fetch(nominatimReverseUrl);
  return res;
};

const selectLocation = async (location: ILocation, zoom?: number) => {
  const L = await import("leaflet/dist/leaflet-src.esm");

  const coordinates = [
    location.geometry.coordinates[1],
    location.geometry.coordinates[0],
  ];

  // Set selected location
  locationSelected.value = location;

  // Set location name on search input
  searchInput.value = location.properties.display_name;

  // Remove previous marker
  if (mapMarker) {
    map.value?.removeLayer(mapMarker);
  }

  // Set zoom
  zoom && map.value?.setZoom(zoom);

  // Pan map to new location
  map.value?.panTo(coordinates);

  mapMarker = L.marker(
    [location.geometry.coordinates[1], location.geometry.coordinates[0]],
    {
      draggable: true,
      icon: L.divIcon({
        className: "map-marker",
        html: `
          <div class="map-marker__pin">
            <span class="map-marker__pin-inner"></span>
          </div>
        `,
        iconAnchor: [22, 56],
        iconSize: [45, 45],
      }),
    }
  )
    .addTo(map.value)
    .on("moveend", onMapMarkerMoved);
};

// Location Selection List
const onLocationSelectionListClick = (
  location: ILocation,
  zoom: number | undefined
) => {
  searchResultList.value = [];
  selectLocation(location, zoom);
};

// Location Finder By Text
const onLocationFinderByTextInputClear = () => {
  searchResultEmpty.value = false;
  searchInput.value = null;
  searchResultList.value = [];
};

const onLocationFinderByTextSearch = async () => {
  searchResultEmpty.value = false;
  if (!searchInput.value) return;
  searchInputLoading.value = true;
  const searchAddressStringParsed = searchInput.value.replace(" ", "+");
  const nominatimUrl = `https://nominatim.openstreetmap.org/search?q=${searchAddressStringParsed}&format=geojson&addressdetails=true&email=hola@franciscogodoy.es&limit=5`;
  const data: { features: ILocation[] } = await $fetch(nominatimUrl);
  searchInputLoading.value = false;
  locationSelectedIndex.value = null;
  searchResultEmpty.value = !data.features.length;
  searchResultList.value = data.features || [];
};
</script>
