<template>
  <v-app>
    <v-main>
      <v-fab absolute icon="mdi-arrow-left" class="go-back-button" location="top left" size="40" variant="flat"
        style="left: 12px; top: 12px; z-index: 99" @click="goBack"></v-fab>
      <slot />
    </v-main>
  </v-app>
</template>

<script setup>
import { useRouter } from 'vue-router';

const router = useRouter();

function goBack() {
  if (window.history.length > 1) {
    router.go(-1);
  } else {
    router.push('/productores');
  }
}
</script>

<style scope>
.go-back-button .v-btn {
  border: 2px solid #b1b1b1;
}
</style>
