<template>
  <v-layout ref="app">
    <v-app-bar absolute border flat density="compact">
      <v-container>
        <v-app-bar-title>
          <div class="d-flex justify-space-between align-center">
            <nuxt-link to="/" class="text-decoration-none">
              <div class="d-flex">
                <v-icon color="primary" class="mr-3"> mdi-leaf </v-icon>
                <h1 class="text-h5 text-primary">Natural Producers</h1>
              </div>
            </nuxt-link>
          </div>
        </v-app-bar-title>
      </v-container>
    </v-app-bar>

    <v-main>
      <v-container>
        <slot />
      </v-container>

      <v-divider></v-divider>

      <v-footer class="my-16">
        <v-row justify="center">
          <v-col class="text-center" cols="12">
            {{ new Date().getFullYear() }} — <span>Natural Producers</span>
          </v-col>
        </v-row>
      </v-footer>
    </v-main>
  </v-layout>
</template>
