<template>
  <v-autocomplete
    v-model="model"
    :items="productsStore.list"
    chips
    label="Productos"
    item-title="name.es_es"
    item-value="_id"
    multiple
    prepend-icon="mdi-basket-outline"
  >
    <!-- <template #chip="{ props, item }">
      <v-chip label v-bind="props">
        <template #prepend>
          <v-avatar>
            <v-icon :class="'icon-' + item.raw.icon"></v-icon>
          </v-avatar>
        </template>
        {{ item.raw.name.es_es }}
      </v-chip>
    </template>
    <template #item="{ props, item }">
      <v-list-item v-bind="props" :title="item.raw.name.es_es">
        <template #prepend>
          <v-icon :class="'icon-' + item.raw.icon"></v-icon>
        </template>
      </v-list-item>
    </template> -->
  </v-autocomplete>
</template>

<script lang="ts" setup>
import type { IProduct } from "~/interfaces/product";

const props = defineProps<{ initialSelection: IProduct[] }>();
const emit = defineEmits(["update-selection"]);

const productsStore = useProductsStore();
const model = ref<IProduct[] | null>(props.initialSelection);

watch(
  () => props.initialSelection,
  (newSelection) => {
    model.value = newSelection;
  }
);

watch(model, (newValue) => {
  emit("update-selection", newValue);
});
</script>
