<template>
  <v-list-item :value="props.product">
    <template #prepend>
      <v-icon
        :color="props.product.metaData?.iconColor"
        :icon="props.product.metaData?.iconCode"
      ></v-icon>
    </template>

    <v-list-item-title>
      {{
        props.product.alternateName && props.product.alternateName.es_es
          ? props.product.alternateName.es_es
          : props.product.name?.es_es
      }}
    </v-list-item-title>
    <v-list-item-subtitle v-if="props.product.keywords">
      {{ props.product.keywords.es_es }}
    </v-list-item-subtitle>
  </v-list-item>
</template>

<script lang="ts" setup>
import type { IProduct } from "~/interfaces/product";

const props = defineProps<{ product: IProduct }>();
</script>
