<template>
  <div>
    <v-text-field
      v-model="searchQuery"
      autofocus
      class="font-weight-regular"
      clearable
      label="Escribe para filtrar"
      variant="outlined"
      @update:model-value="onSearchQueryUpdate"
    ></v-text-field>
    <v-list v-model:selected="model" select-strategy="classic">
      <ProductItem
        v-for="(result, i) in results"
        :key="i"
        :product="result.item"
      ></ProductItem>
    </v-list>
  </div>
</template>

<script lang="ts" setup>
import type { UseFuseOptions } from "@vueuse/integrations/useFuse";
import { useFuse } from "@vueuse/integrations/useFuse";
import type { IProduct } from "~/interfaces/product";

// Props
const props = defineProps({
  initialSelection: {
    type: Array as PropType<IProduct[]>,
    default: () => [],
  },
});

// Emits
const emit = defineEmits(["update-selection"]);

const fuseOptions = ref<UseFuseOptions<IProduct>>({
  fuseOptions: {
    keys: ["name.es_es", "keywords.es_es"],
    isCaseSensitive: false,
    threshold: 0.4,
  },
  resultLimit: 5,
  matchAllWhenSearchEmpty: false,
});
const model = ref<IProduct[]>(props.initialSelection);

const searchQuery = ref<string>("");
const searchQueryDebounced = ref<string>("");

const productsStore = useProductsStore();

const { results } = useFuse(
  searchQueryDebounced,
  productsStore.list,
  fuseOptions
);

const onSearchQueryUpdate = useDebounceFn(() => {
  searchQueryDebounced.value = searchQuery.value ? searchQuery.value : "";
}, 300);

watch(model, (newValue) => {
  emit("update-selection", newValue);
});
</script>

<style></style>
