<template>
  <div>
    <h1 class="text-h4 mb-4">Colabora y añade un nuevo productor</h1>
    <ProducerFreeForm
      :error="error"
      :loading="loading"
      :success="success"
      @submit="handleSubmit"
    ></ProducerFreeForm>
  </div>
</template>

<script lang="ts" setup>
import type { CollaborateFormData } from "~/interfaces/collaborateFormData";
const apiBase = useRuntimeConfig().public.apiBase;

const error = ref(false);
const loading = ref(false);
const success = ref(false);

// SEO meta
const title = "Natural Producers | Colabora y añade productores";
const description =
  "Ayuda a expandir nuestro directorio con productores que crees que deberían estar en la lista. Contribuye a la ecología y al consumo consciente.";
const url = "https://naturalproducers.org/colabora";

useSeoMeta({
  title,
  ogTitle: title,
  description,
  ogDescription: description,
  ogUrl: url,
});

const handleSubmit = async (form: CollaborateFormData) => {
  loading.value = true;
  error.value = false;
  success.value = false;

  try {
    const response = await fetch(apiBase + "/emails/collaborate", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(form),
    });

    if (!response.ok) {
      throw new Error("Error al enviar el formulario");
    }

    await response.json();
    success.value = true;
  } catch (err) {
    error.value = true;
  } finally {
    loading.value = false;
  }
};
</script>
