<template>
  <div>
    <v-row>
      <v-col cols="12">
        <HomeHero></HomeHero>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-row align="center" no-gutters justify="space-between" class="mb-2">
          <v-col cols="auto" class="mr-3">
            <h3 class="mb-2">Últimos productores añadidos</h3>
          </v-col>
          <v-col cols="auto">
            <v-btn
              density="compact"
              variant="tonal"
              class="text-lowercase"
              to="/productores"
            >
              Ver todos
            </v-btn>
          </v-col>
        </v-row>

        <ClientOnly>
          <template #fallback>
            <v-row>
              <v-col
                v-for="(_item, i) of 4"
                :key="i"
                cols="12"
                sm="6"
                md="6"
                lg="4"
                xl="3"
              >
                <v-skeleton-loader
                  class="mb-6"
                  type="table-heading, list-item-two-line, image, table-tfoot"
                ></v-skeleton-loader>
              </v-col>
            </v-row>
          </template>
          <masonry
            :cols="{
              default: 4,
              [thresholds.xl - 1]: 3,
              [thresholds.lg - 1]: 2,
              [thresholds.md - 1]: 2,
              [thresholds.sm - 1]: 1,
            }"
            :gutter="{ default: '24px' }"
          >
            <template v-for="(producer, i) of producers?.docs || []" :key="i">
              <ProducerCard
                class="mb-6"
                :producer-detail="producer"
                @product-clicked="onProductClicked($event)"
              ></ProducerCard>
            </template>
          </masonry>
        </ClientOnly>
      </v-col>
    </v-row>

    <AboutUsCountBanner></AboutUsCountBanner>
  </div>
</template>

<script lang="ts" setup>
// Imports
import { SITE_DESCRIPCION, SITE_NAME, SITE_URL } from "@/constants/site-config";
import type { IPaginatedDocs } from "@/interfaces/paginated-docs";
import type { IProducer } from "@/interfaces/producer";
import naturalProducersJsondl from "@/jsonld/natural-producers";
import { useDisplay } from "vuetify";
import type { IProduct } from "~/interfaces/product";

const { thresholds } = useDisplay();
const apiBase = useRuntimeConfig().public.apiBase;

// Data fetching
const { data: producers } = await useFetch<IPaginatedDocs<IProducer>>(
  apiBase + "/producers",
  {
    query: { sortByCreationDate: true, sortOrder: "desc", limit: 4 },
  }
);

// Page Meta
definePageMeta({
  layout: "home",
});

// SEO meta
const title = SITE_NAME + " | Productores para un consumo consciente";
const description = SITE_DESCRIPCION;
const url = SITE_URL;

useSeoMeta({
  title,
  ogTitle: title,
  description,
  ogDescription: description,
  ogUrl: url,
});

useHead(() => ({
  link: [
    {
      rel: "canonical",
      href: url,
    },
  ],
}));

// JSONDL
useJsonld(() => naturalProducersJsondl);

//Actions
const onProductClicked = (product: IProduct): void => {
  navigateTo({
    path: "/productores",
    query: { productCategories: product.slug.es_es },
  });
};
</script>
