<template>
  <v-container class="mt-16">
    <v-card elevation="24" max-width="400" class="mx-auto">
      <v-card-title class="text-h4 font-weight-bold"
        >Iniciar sesión</v-card-title
      >

      <v-card-text>
        <v-form @submit.prevent="handleLogin">
          <v-text-field
            v-model="email"
            label="Correo electrónico"
            required
            type="email"
          />

          <v-text-field
            v-model="password"
            label="Contraseña"
            required
            type="password"
          />

          <v-btn class="mt-6" color="primary" type="submit"
            >Iniciar sesión</v-btn
          >
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
const { signIn } = useAuth();
const route = useRoute();

const email = ref("");
const password = ref("");

async function handleLogin() {
  try {
    await signIn(
      { email: email.value, password: password.value },
      { callbackUrl: route.query.redirect?.[0] || "/" }
    );
  } catch (error) {
    console.error("Error al iniciar sesión:", error);
    // TODO: Mostrar un mensaje de error al usuario
  }
}
</script>
